:root {
    --background-color: #3f576c; 
    --text-color: #ffffff;       
    --post-background: #04030a;  
    --accent-color: #3498db;     
}

#myModal {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 4px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#myModal h2{
    padding-bottom: 20px;
    font-size: 18px;
}

.main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
}

.posts_container{
    display: flex;
    flex-direction: column;
}

.createCardBtn{
    width: 600px;
    height: 60px;
    border-radius:20px;
    border: none;
    margin:  0 auto;
    margin-top: 30px;
    cursor: pointer;
}

.cardList{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--post-background);
    color: var(--text-color);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
}

.card_header{
    display: flex;
    justify-content: space-between;
}

.card_userInfo{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.card_userInfo_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.card_userInfo_name a{
    color: var(--accent-color);
    padding-left: 15px;
}

.card_deleteBtn{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: #8d2929;
    background-image: url(../images/recycle-bin.png);
    background-repeat: round;
    cursor: pointer;
}

.card_post{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 40px;
    gap: 10px;
}

.card_post_title{
    font-size: 18px;
    font-weight: 700;
}

.card_post_txt{
    font-size: 14px;
    font-weight: 400;
}